body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape'); 
}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    background-color: rgba(32, 32, 32, 0.767);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    border: none;
    outline: none;
    padding : 7px 10px;  
    border-radius: 18px;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 15px;
    width: calc(100% - 50px);
}
button{
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    margin: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 500ms ease-in-out;
}

.temp{
    margin :0;
}

.flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }